{% import "_macro.html" as macros %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <span>
          <a href="{{url_for('main.atualizar')}}" type="button" class="btn btn-success">Atualizar</a>
        </span>
        <form action="{{ url_for('main.search')}}" class="navbar-form navbar-right" method="POST">
          {{ formSearch.hidden_tag() }}
          <div class="input-group">
            {{ formSearch.search() }}
            <span class="input-group-btn">
              {{ formSearch.submit() }}
            </span>
          </div>
        </form>
        <h1 class="">Lista de cidades</h1>
      </div>
      <div class="row">
        <div class="span12">
          {% if form %}
          <table class="table table-striped">
            <thead>
              <tr>
                <td>Cidade</td>
                <td>Codigo IBGE</td>
                <td>URL</td>
              </tr>
            </thead>
            <tbody>

              {% for m in form %}
              <tr>
                <td>{{m.nome}}</td>
                <td>{{m.codigo_ibge}}</td>
                <td><a href="{{m.url}}" target="_blank">{{m.url}}</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="pagination">
          {{ macros.pagination_widget(pagination, '.index') }}
          </div>
          {% else %}
            <h1>Atualize o banco</h1>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
